@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
    --light:#fff;
}

* {
    padding: 0;
    margin: 0;    
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior:smooth;
}

html, body {
    height: 100%;  
}



.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto; 
}

/*Dashboard*/
 a{
    text-decoration: none;
}

 li{
    list-style: none;
}

/*sidebar*/
 #sidebar {
    position: fixed;  
    /*position: relative;*/
    width: 260px;
    background: white;
    top: 0px;
    left: 300px;
    height: 100%;
    margin-top: 150px;
    width: fit-content;
    overflow-y: auto;
    scrollbar-width: none;
    z-index: 2;    
}

#sidebar::-webkit-scrollbar{
    display: none;
}

#sidebar .brand{
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-weight: 600;
    color: turquoise;
}

#sidebar .icon{
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#sidebar .icon-right{
    margin-left: auto;  
    transition: all .3s ease;  
}

#sidebar .side-menu{
    margin: 30px 0;
    padding: 0 15px;
}

#sidebar .side-menu a{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: turquoise;
    padding: 11px 11px 11px 3.5px;
    transition: all .3s ease;
    border-radius: 10px;
    margin: 4px 0;
}

#sidebar .side-menu > li > a:hover{
    background-color: rgb(228, 224, 224);
    color: rgb(35, 180, 166);
    transition: all 0.3s ease;
}

#sidebar .side-menu > li > a.active .icon-right{
    transform: rotateZ(90deg);
}

#sidebar .side-menu > li > a.active,
#sidebar .side-menu > li > a.active:hover {
    background: turquoise;
    color: white;
}

#sidebar .divider{
    margin-top: 24px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: #525151;
}

#sidebar .side-dropdown{
    padding-left: 48px;
    max-height: 0;
    overflow-y: hidden;
    transition: all .15s ease;
}

#sidebar .side-dropdown.show{
    max-height: 1000px;
}

#sidebar .side-dropdown a:hover{
    background-color: rgb(228, 224, 224); 
    color: rgb(35, 180, 166);
}

/*content*/
#content {
    position: relative;
    width: calc(100% - 330px);
    left: 330px;   
    top: 28px;
}

#content main {
    width: 50%;
    padding: 24px 20px 20px 20px;
}



/*All Appointments Content*/
.details {
    position: relative;
    width: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    margin-top: 5px;
}

.details .allAppointments{
    position: relative;
    display: grid;
    /*min-height: 200px;*/
    background: #fff;
    padding: 30px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.8);
}

.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2{
    font-weight: 600;
    color: turquoise;
}

.details table{
    width: 100%;
    border-collapse: collapse;
    margin: 10px;
}

.details table thead td{
    font-weight: 600;
}

.details .allAppointments table tr{
    color: turquoise;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.details .allAppointments table tr .btn{
    color: turquoise;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    text-decoration: none;
}

.details .allAppointments table tr:last-child{
    border-bottom: none;
}

.details .allAppointments table tbody tr:hover{
    background: turquoise;
    color: white;
}

.details .allAppointments table tr td{
    padding: 5px;
}

.details .allAppointments table tr td:last-child{
    text-align: end;
}

.details .allAppointments table tr td:nth-child(4){
    text-align: center;
}

.row .centered button{
    color: turquoise;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    text-decoration: none;
}

.details .allAppointments table tbody tr td a{
    color: turquoise;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    text-decoration: none;
}





/*Nav bar*/
nav {
    width: 100%;
    height: 60px;
    background: whitesmoke;
    position: fixed;   
    z-index: 999;  
    margin: 0;   
}

nav span a{    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: turquoise;
    background-size: 100%;
    line-height: 60px;
    float: left;  
    font-size: 24px;
    padding: 14px 14px;
    padding-left: 40px;
    text-decoration: none;
}

nav span a:hover {
    background-color: rgb(228, 224, 224);
    color: rgb(35, 180, 166);
    transition: all 0.3s ease;
}

nav ul {
    float: left;   
}


nav ul li {
    float: left;
    list-style: none;
    position: relative;
    background: whitesmoke;
}

nav ul li a {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: turquoise;
    font-size: 14px;
    padding: 20px 14px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: rgb(228, 224, 224);
    color: rgb(35, 180, 166);
    transition: all 0.3s ease;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 0px 0px 6px 6px;
}


nav ul li:hover ul{
    display: block;
}

nav ul li ul li {
    width: 120px;
    border-radius: 4px;
}

nav ul li ul li a{
    padding: 10px 14px;
}

nav ul li ul li a:hover{
    background-color: rgb(228, 224, 224);
}

.icon, input{
    display: none;
}




/*Small screen*/

@media screen and (max-width: 1170px){
    /*Navbar*/
    nav{
        opacity: 1;
        z-index: 999;
        text-align:left;         
    }
    
    nav ul {
        margin-left: 0px;
        float: left;     
    }

    nav span a {
        padding-left: 30px;
        width: 100%;
        
    }

    nav ul li, nav ul li  ul li {
        display: block;
        width: 100%;   
    }

    nav ul ul li{
        border-bottom: 0px;
    }

    nav ul li ul li a{
        display: block;
        color: turquoise;
        font-size: 10px;
        padding: 0 10px;
        margin-left: 10px;
        line-height: 30px;
        cursor: pointer;
        padding-left: 20px;
    }

    nav ul li ul{
        top: 30px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }

    .icon{
        display: block;
        color: turquoise;
        position: absolute;
        right: 40px;
        line-height: 50px;
        font-size: 20px;
        cursor: pointer;
    }

    nav ul li a:hover {
        color: teal;
    }
    nav ul li ul :hover a{
        color: teal;
    }

    nav ul li ul + a, ul{
        display: none;
    }

   [id^=btn]:checked + ul {
        display: block;
        background: whitesmoke;
    }


    

    @media screen and (max-width: 700px){
        .wrapper .box{
            width: 100%;
        }
    }
}




